<H1> Welcome to Rock, Paper Scissors </h1>
<form action='/play' method="post">
  <input type="text" name="player_1">
  <input type="submit" value="Submit">
  </form>

  <img src="file:///Users/bendarking/projects/weekend_challenges/rps-challenge/views/file.png">
